interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.7108559%2C+49.407988%5D%2C+%5B8.7108559%2C+49.4136026%5D%2C+%5B8.6983273%2C+49.4136026%5D%2C+%5B8.6983273%2C+49.407988%5D%2C+%5B8.7108559%2C+49.407988%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Aline+and+amenity%3Dparking+and+orientation%3Dparallel&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : []\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.7108559%2C+49.407988%5D%2C+%5B8.7108559%2C+49.4136026%5D%2C+%5B8.6983273%2C+49.4136026%5D%2C+%5B8.6983273%2C+49.407988%5D%2C+%5B8.7108559%2C+49.407988%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Apolygon+and+amenity%3Dparking+and+orientation%3Dparallel&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Polygon\",\n
        \     \"coordinates\" : [\n        [\n          [\n            8.7088956,\n
        \           49.4134043\n          ],\n          [\n            8.7089478,\n
        \           49.4134006\n          ],\n          [\n            8.7090276,\n
        \           49.4133954\n          ],\n          [\n            8.709138,\n
        \           49.4133915\n          ],\n          [\n            8.7092208,\n
        \           49.4133891\n          ],\n          [\n            8.7093381,\n
        \           49.41338[...]
